@page "/fetchdata"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using EFKBlazorP2.Shared
@using EFKBlazorP2.Client.Components

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (State.Forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <WeatherForecastTable Title="Hot days" Forecasts="HotForecasts" />
    <WeatherForecastTable Title="Cold days" Forecasts="ColdForecasts" />
}
