@page "/details/{id:int}"
<h3>Weather Forecast Details</h3>


<div>
    <b>Date: </b>@Forecast.Date
</div>
<div>
    <b>Temperature: </b>@Forecast.TemperatureC °C
</div>
<div>
    <b>Description: </b>@Forecast.Summary
</div>